body
{
background-color: #333;
}

.grid-container 
{
    display: grid;
    grid-template-areas: 
        "header header"
        "main aside"
        "footer footer";
    grid-gap: 10px;
    padding: 10px;
}

.grid-item 
{
    padding: 20px;
    background-color: #f1f1f1;
}


header 
{
    grid-area: header;
}

main
{
    grid-area: main;
}

aside 
{
    grid-area: aside;
}

footer 
{
    grid-area: footer;
}

/* Responsive design for smaller screens */
@media screen and (max-width: 768px) 
{
    .grid-container 
    {
        grid-template-columns: 1fr; 
        grid-template-rows: auto auto auto auto; 
        grid-template-areas: 
            "header"
            "main"
            "aside"
            "footer";
    }
}